


/*body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    width: 116px;
    height: 21px;
}*/


#symbol {
    color: #C778DD;
    width: 10px;

}
.text{
    width: 100px;
    margin-left: 2%;
    margin-right: 4%;
    align-items: end;
    
}

.line{
    width: 30%;
    display: block;
    background-color: #C778DD;
    width: 290px;
    height: 1px;

}